body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;

/*    font-family: 'Onest';
    src: url('@/assets/fonts/OnestRegular1602-hint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;*/
}